:root {
    --cinza-principal: #667085;
    --vermelho-principal: #8E2424;
    --preto-principal: #101828;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0 110px 0 110px;
}

header {
    margin-top: 25px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paginas {
    margin-right: 30%;
}

.lista__item {
    display: inline-block;
    margin-left: 35px;
}

.lista__item a {
    text-decoration: none;
    color: var(--cinza-principal);
}

.botao__entrar {
    background-color: #FFFFFF;
    color: var(--cinza-principal);
    border: none;
    margin-right: 20px;
    font-size: 16px;
    cursor: pointer;
}

.botao__cadastrar {
    background-color: var(--vermelho-principal);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
    height: 44px;
    width: 112px;
    cursor: pointer;
}

.cabecalho {
    text-align: center;
    margin-top: 10%;
}

.cabecalho__sobre {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3rem;
    color: var(--vermelho-principal);
}

.cabecalho__titulo-principal {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 3rem;
    color: var(--preto-principal);
}

.cabecalho__conteudo {
    line-height: 1.6rem;
    color: var(--cinza-principal);
}

/* Secao metricas */

.metricas {
    margin: 10% 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: left;
}

.metricas__titulo {
    font-size: 60px;
    font-weight: 600;
    color: var(--vermelho-principal);
}

.metricas__titulo-info {
    font-size: 18px;
    font-weight: 590;
    margin: 15px 0;
}

.metricas__info {
    font-size: 16px;
    color: var(--cinza-principal);
    line-height: 1.5rem;
}

.metricas-container {
    margin-right: 30px;
}

/* Secao talentos */

.talentos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.talentos p {
    margin-bottom: 2rem;
}

.talentos__vagas {
    background-color: rgba(142, 36, 36, 0.1);
    padding: 7px 10px;
    border-radius: 16px;
    color: var(--vermelho-principal);
    font-size: 14px;
    font-weight: 500;
}

.talentos__titulo {
    font-size: 36px;
    color: var(--preto-principal);
    font-weight: 600;
}

.talentos__info {
    color: var(--cinza-principal);
}

.talentos__imagem {
    width: 85vw;
}